# .epub files
**/*.epub

# -chunk.txt files
**/chunk*.txt

# filelist.txt files
**/*_filelist.txt

# .wav files
**/*.wav

# .pyc files
**/*.pyc

# Directory for book related data for pre-training/chunking
py_src/tts/pre-training/books
